{% include 'header2.html' %}

<div class="container-fluid" style="margin-top: 7em !important;">

    <div class="row border-bottom border-4 my-4">
        <div class="col-10">
            <h1 class="orange fw-bold">Modifier "{{ outil.nom }}"</h1>
        </div>
        <div class="col-2 d-flex justify-content-end pb-2">
            <form action="/delete" method="post">
                <input type="hidden" name="id" value="{{ outil.id }}">
                <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt pe-2"></i> Suppr. la ressource</button>
            </form>
        </div>
    </div>

    <form action="" method="post">

        <div class="row">

            <div class="col-12 col-lg-6">
                <div class="m-3 py-4 px-3 rounded rounded-3 bg-bleu">
                    <div class="form-floating mx-3 mt-3">
                        <input type="text" class="form-control" id="nom" name="nom" value="{{ outil.nom }}" placeholder="Nom de la ressource">
                        <label for="nom">Nom de la ressource</label>
                    </div>
                    <div class="form-floating mx-3 mt-3">
                        <textarea class="form-control" placeholder="Description" id="description" name="description" style="height:150px;">{{ outil.description }}</textarea>
                        <label for="description">Description</label>
                    </div>
                    <div class="form-floating mx-3 mt-3">
                        <input type="text" class="form-control" id="age" name="age" value="{{ outil.age }}" placeholder="Age du public">
                        <label for="age">Age du public</label>
                    </div>
                    <div class="form-check form-switch pt-1 mx-3 mt-4">
                        {% if outil.valide == '1' %}
                            <input class="form-check-input" type="checkbox" id="valide" name="valide" checked>
                        {% else %}
                            <input class="form-check-input" type="checkbox" id="valide" name="valide">
                        {% endif %}
                        <label class="form-check-label text-warning fw-bold" for="valide">Valider la ressource</label>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="m-3 py-4 px-3 rounded rounded-3 bg-bleu">
                    <div class="form-floating mx-3 mt-3">
                        <input type="text" class="form-control" id="image" name="image" value="{{ outil.image }}" placeholder="Lien vers l'image">
                        <label for="image">Lien vers l'image</label>
                    </div>
                    <div class="form-floating mx-3 mt-3">
                        <input type="text" class="form-control" id="fichier" name="fichier" value="{{ outil.fichier }}" placeholder="Lien vers un fichier ressource">
                        <label for="fichier">Lien vers un fichier ressource</label>
                    </div>
                    <div class="form-floating mx-3 mt-3">
                        <input type="text" class="form-control" id="nom_editeur" name="nom_editeur" value="{{ outil.nom_editeur }}" placeholder="Nom de l'éditeur">
                        <label for="nom_editeur">Nom de l'éditeur</label>
                    </div>
                    <div class="form-floating mx-3 mt-3">
                        <input type="text" class="form-control" id="site_editeur" name="site_editeur" value="{{ outil.site_editeur }}" placeholder="Site de l'éditeur">
                        <label for="site_editeur">Site de l'éditeur</label>
                    </div>
                    <div class="form-group d-flex justify-content-center mx-3 mt-4 pt-3">
                        <button type="submit" class="btn btn-warning mx-3">Modifier la ressource</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
